body {
  margin: 0;
  font-family: Arial;
  background: rgb(238, 235, 235);
  align-items: center;
  justify-content: center;
  display: flex;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  width: 1440px;
  background-color: #f0f0f6;
}

/* SIDEBAR */
.sidebar {
  /* height: 100%; */
  width: 260px;
  background: #fff;
  padding: 20px;
  /* overflow-y: auto; */
}

.section {
  padding: 20px 0 30px 0;
  border-bottom: 2px solid #eee3e3;
}

.section:last-child {
  border-bottom: none;
}

.avatar {
  width: 90px;
  border-radius: 50%;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.socials img {
  width: 23px;
}

/* INFO ALIGN */
.info-row {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

.info-row span {
  background-color: #ffb400;
}

/* BARS */
.bar p {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin: 10px 0;
}

.progress {
  height: 5px;
  background: #ddd;
}

.progress div {
  height: 100%;
  background: #ffb400;
}

/* EXTRA */
.extra {
  list-style: none;
  padding: 0;
  font-size: 14px;
}

.extra li {
  padding: 5px 0;
}

/* HERO */
.hero {
  background: #fff;
  padding: 60px 60px 0 60px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px 0 30px;
}

.hero-text {
  width: 500px;
}

.hero-img {
  width: 260px;
}


/* SHAPES */
.shape {
  position: absolute;
  border-radius: 50%;
}

.s1 { width:12px;height:12px;background:green; top:20%; left:40%; }
.s2 { width:10px;height:10px;background:orange; top:50%; left:30%; }
.s3 { width:8px;height:8px;background:#ccc; top:30%; left:70%; }
.s4 { width:14px;height:14px;background:#ffb400; top:10%; left:60%; }
.s5 { width:6px;height:6px;background:green; top:70%; left:50%; }
.s6 { width:9px;height:9px;background:#aaa; top:60%; left:80%; }
.s7 { width:7px;height:7px;background:#ffb400; top:40%; left:20%; }

/* SERVICES */
.services {
  padding: 50px;
  background: #f0f0f6;
}

.card-box {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
}

.card-box h5 {
  padding: 10px 0;
}

/* RIGHT BAR */
.rightbar {
  min-height: 100%;
  width: 80px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu.top {
  margin-top: 20px;
}

.menu-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu {
  width: 45px;
  height: 45px;
  margin: 10px 0;
  /* background: #eee; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu.active {
  background: orange;
  color: #fff;
}
